
{%extends 'layout.html' %}
{%load static%}



{%block title%}
La verdad absoluta
{%endblock%}

{%block content%}
<div id="infoContainer">
    
    <div id="imgContainer">
        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.aboutespanol.com%2Fthmb%2FAZJpIaYrpYw6-zs1McJ7zLzQ8z8%3D%2F2048x1360%2Ffilters%3Ano_upscale()%3Amax_bytes(150000)%3Astrip_icc()%2FUnhombreleeunperidico-5aea1d0a875db900379454b5.jpg&f=1&nofb=1" alt="">
    </div>
    <div id="textContainer">
        <h1>El mas imparcial <br>del país</h1>
    </div>
</div>


{%endblock%}

